#status {
    top: 2em;
    position: relative;
    left: 2em;
}

#dino {
    height: 60px;
    width: 55.8px;
    transform: translate(60px, 419px);
    position: relative;
}

#dino img, #bird img {
    width: 100%;
    height: 100%;
}

#dino.jumping {
    animation: jump linear .5s;
    /*transition: ease-in-out;*/
    /*animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333)*/
}

#dino.jumping img, .arcade.disabled #dino img {
    content: url("/static/img/dino_sprite.png")
}

.arcade.disabled #bird img {
    content: url("/static/img/bird.png")
}

#cactus1 {
    animation: cactus linear 3s infinite;
    background-image: url("/static/img/cactus1.png");
    background-size: 30px 50.6px;
    height: 50.6px;
    width: 30px;
    transform: translate(800px, 368px);
    position: relative;
}

#cactus2 {
    animation: cactus1 linear 3s infinite;
    animation-delay: 7.5s;
    background-image: url("/static/img/cactus2.png");
    background-size: 50px 39.13px;
    height: 39.13px;
    width: 50px;
    transform: translate(800px, 330px);
    position: relative;
}

#bird {
    animation: bird linear 4s infinite;
    animation-delay: 10s;
    height: 32px;
    width: 50px;
    transform: translate(800px, 10px);
    position: relative;
}

#score {
    margin: 1em auto auto;
    width: max-content;
}

@keyframes jump {
    from {
        transform: translate(60px, 419px);
        animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1)
    }
    69.0893% {
        transform: translate(60px, 120px);
        animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333)
    }
    to {
        animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333)
    }
}


@keyframes cactus {
    from {
        transform: translate(800px, 368px);
    }
    66% {
        transform: translate(-50px, 368px);
        display: none;
    }
    66.1% {
        display: none;
        transform: translate(800px, 368px);
    }
    to {
        display: none;
    }
}

@keyframes cactus1 {
    from {
        transform: translate(800px, 330px);
    }
    66% {
        transform: translate(-50px, 330px);
        display: none;
    }
    66.1% {
        display: none;
        transform: translate(800px, 330px);
    }
    to {
        display: none;
    }
}


@keyframes bird {
    from {
        transform: translate(800px, 10px);
    }
    75% {
        transform: translate(-50px, 10px);
        display: none;
    }
    75.1% {
        display: none;
        transform: translate(800px, 10px);
    }
    to {
        display: none;
    }
}
