.input {
    display: flex;
    gap: .5em;
    align-items: center;
}

#input {
    width: max-content;
    min-width: 1em;
    margin-top: auto;
    display: flex;
    align-items: center;
    margin-bottom: auto;
}

#input:after {
    display: block;
    content: "";
    width: 8px;
    height: 1em;
    background: #fff;
    animation: .5s ease-in-out infinite blink;
}

#menu {
    transform: translate(-50%, 100px) !important;
}

@media (max-width: 1400px) {
    .number-input {
        display: flex !important;
        flex-direction: column;
        width: max-content;
        max-width: 80%;
        margin: auto;
        gap: .5em;
    }

    .screen {
        height: 300px !important;
    }

    .number-input .row {
        width: 100%;
        display: flex;
        gap: .5em;
    }

    .number-input .row .number {
        user-select: none;
        font-size: 2em;
        width: 35px;
        height: 35px;
        padding: 3px;
        text-align: center;
        background: var(--border);
    }

    .number-input .row .number.empty {
        background: none;
    }
}
@keyframes blink {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
