@import "styles.css";

header {
    margin-bottom: 2em;
}

#menu {
    text-align: center;
    transform: translate(0, 275px);
    z-index: 50;
    position: relative;
}

#menu .buttons {
    width: max-content;
    margin: 1em auto auto;
}

.input {
    display: flex;
    gap: .5em;
    align-items: center;
}

#input {
    width: max-content;
    min-width: 1em;
    margin-top: auto;
    display: flex;
    align-items: center;
    margin-bottom: auto;
}

#input:after {
    display: block;
    content: "";
    width: 8px;
    height: 1em;
    background: #fff;
    animation: .5s ease-in-out infinite blink;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
