@import "fonts.css";
@import "theme.css";
@import "styles.css";

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container {
    position: relative;
    width: 600px;
    height: 800px;
}

/*loader*/
#loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: .2s ease-in-out;
    z-index: 100;
}

#loader.hidden {
    z-index: -100;
    opacity: 0;
}

#loader img {
    animation: 1s ease-in-out loading infinite;
}

@keyframes loading {
    from {
        opacity: 0;
        scale: 1;
    }
    70% {
        opacity: 1;
        scale: 1.05;
    }
}

header {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto 2em;
}

h1{text-align: center;}

/*gestions des celules*/
.cell{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    border-right: 2px solid  var(--color);
    border-bottom: 2px solid  var(--color);
    cursor: pointer;
}

/*remov des bords*/
.cell.highlight {
    border-right: 2px solid var(--hover);
    border-bottom: 2px solid var(--hover);
}

/*remov des bords*/
.cell:nth-child(3n) {border-right: none;}
.cell:nth-child(6) ~ .cell {border-bottom: none;}


/*gestions du tab*/
.board {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem;
}

/*remov game_end*/

.white {color: var(--color);}

#game_end {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

/*centrer*/
#game_end p, #game_end input{
    text-align: center;
}

#game_end p {
    margin-top: 4rem;
}

/*Menue*/
#gameMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 2em;
    text-align: center;
}

#gameMenu.hidden {
    display: none;
}

.hidden {
    display: none;
}
