header {
    margin-bottom: 10em;
}

.board, .results, #menu {
    max-width: 780px;
    margin: auto;
    text-align: center;
}

#menu:not(.hidden) {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.board {
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.board.hidden, .results.hidden {
    display: none;
}

.board p:not(.light) {
    color: var(--grey);
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1em;
}

.item {
    cursor: pointer;
}

.item img {
    transition: .1s ease-in-out;
}

.item:hover img {
    transform: translate(0, -10%);
}

.item img {

}

.results {
    display: flex;
    justify-content: space-evenly;
}

.results .element {
    height: 136px;
    width: 150px;
    overflow: hidden;
}

.results .element .roulette {
    transform: translate(0, -408px);
}

.results .element .roulette.small {
    transform: translate(0, -136px);
}

.results .element.text {
    min-width: max-content;
}

.results.animated .element:not(.text):before {
    background: linear-gradient(var(--background) 2%, transparent, var(--background) 98%);
}

.results .element:not(.text):before {
    content: "";
    display: block;
    height: 136px;
    width: 150px;
    background: transparent;
    margin: auto;
    position: relative;
    z-index: 99;
    transition: .1s ease-in-out;
}

.results.animated .element .roulette {
    animation: .3s ease-in-out roulette;
    animation-iteration-count: 6;
    transform: translate(0, -408px);
}

.results.animated .element .roulette.small {
    animation: .3s ease-in-out smallRoulette;
    animation-iteration-count: 6;
    transform: translate(0, -136px);
}

@keyframes roulette {
    from {
        transform: translate(0, -136px);
    }
    99% {
        transform: translate(0, -544px);
    }
    to {
        transform: translate(0, 0);
    }
}


@keyframes smallRoulette {
    from {
        transform: translate(0, -136px);
    }
    99% {
        transform: translate(0, -272px);
    }
    to {
        transform: translate(0, 0);
    }
}

@media (max-width: 1400px) {
    .board, .results, #menu {
        max-width: 90%;
    }
    .results .element, .results .element img, .items img {
        height: 68px;
        width: 75px;
    }
    .results .element:not(.text):before {
        height: 68px;
        width: 75px;
    }

    .results.animated .element .roulette, .results .element .roulette {
        transform: translate(0, -204px);
    }

    .results.animated .element .roulette.small, .results .element .roulette.small {
        transform: translate(0, -68px);
    }

    @keyframes roulette {
        from {
            transform: translate(0, -68px);
        }
        99% {
            transform: translate(0, -272px);
        }
        to {
            transform: translate(0, 0);
        }
    }

    @keyframes smallRoulette {
        from {
            transform: translate(0, -68px);
        }
        99% {
            transform: translate(0, -136px);
        }
        to {
            transform: translate(0, 0);
        }
    }
}
