@import "fonts.css";
@import "theme.css";

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--color);
    font-family: var(--font), sans-serif;
}

.mt {
    margin-top: 2.5em !important;
}

.mb {
    margin-bottom: 2.5em !important;
}

.tag {
    padding: 0 .3em;
    background: var(--primary);
    color: var(--color);
}

.tag.secondary {
    background: var(--hover);
    color: var(--background)
}

.menu {
    width: 100%;
    padding: 5px 15px;
    border: var(--color) 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 3px 3px 0 0 var(--grey);
    max-width: 800px;
    margin: 1em auto .5em;
}

.menuContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 780px;
    width: 100%;
}

.menu .start {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.menu img {
    height: 3em;
    margin-right: .5em;
}

.menu .buttons {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}

.menu .buttons button {
    height: min-content;
}

.credits {
    margin-top: 5em !important;
    cursor: pointer;
    color: var(--grey);
    font-size: .9em;
    max-width: 500px;
}

.credits.paragraph {
    margin-top: 0 !important;
    margin-bottom: 2em;
}

.buttons {
    display: flex;
    gap: 1em;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    font-family: var(--font), sans-serif;
}

.menu button {
    margin-top: 0 !important;
}

button:disabled {
    opacity: 0.5;
}

button:not(.image) {
    margin-top: .5em;
    background: var(--primary);
    box-shadow: 3px 3px 0 0 var(--primary-black);
    padding: .1em 1em;
    color: var(--color) !important;
}

button:not(.image):hover {
    background: var(--hover);
    color: var(--background) !important;
    box-shadow: 3px 3px 0 0 var(--hover-black);
}

button.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    background: transparent;
    transition: .1s ease-in-out;
}

button.image:hover {
    scale: 1.1;
}

button.image img {
    max-height: 3em;
    height: 100%;
    margin: 0 !important;
}

a {
    color: var(--primary);
    cursor: pointer;
}

a:hover {
    color: var(--hover);
}

.grey {
    color: var(--grey);
}

a.grey {
    color: var(--grey);
    text-decoration: underline var(--grey);
}

.hidden {
    display: none;
}

.center {
    margin: auto;
    width: max-content;
}

#loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: .2s ease-in-out;
    z-index: 100;
    top: 0;
}

#loader.hidden {
    z-index: -100;
    opacity: 0;
}

#loader img {
    animation: 1s ease-in-out loading infinite;
}

@keyframes loading {
    from {
        opacity: 0;
        scale: 1;
    }
    70% {
        opacity: 1;
        scale: 1.05;
    }
}

header {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

header h1 {
    margin-bottom: .5em;
    margin-top: .5em;
}

.grid {
    justify-items: center;
    margin: 3em auto auto;
    display: grid;
    max-width: calc(128px * 3 + 3em);
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

.game {
    width: 128px;
    transition: .1s ease-in-out;
    cursor: pointer;
}

.game.disabled {
    opacity: .5;
}

.game img {
    max-width: 100%;
}

.game:hover {
    transform: translate(0, -10%);
}

#menu {
    text-align: center;
    transform: translate(-50%, 230px);
    z-index: 50;
    position: absolute;
    left: 50%;
}

#menu .buttons {
    width: max-content;
    margin: 1em auto auto;
}

.arcade {
    margin: auto;
    background-size: 918px 1190px;
}

.scrollable #game {
    overflow-y: scroll;
}

.screen {
    height: 500px;
    width: 800px;
    margin: auto;
    background: #000;
    overflow: hidden;
    position: relative;
}

.arcade p {
    display: none;
}

.arcade.disabled .screen {
    opacity: 0.2;
}

.arcade.disabled p {
    display: block;
    color: white;
    width: max-content;
    margin: auto;
}

.arcade.disabled * {
    animation-play-state: paused !important;
}

.arcade.reset * {
    animation: none !important;
}

form {
    border: var(--color) 2px solid;
    padding: 2em;
    width: 312px;
    margin: 2em auto auto;
    display: flex;
    flex-direction: column;
    max-width: 312px;
}

form.large {
    max-width: calc(500px - 2em);
    width: calc(500px - 2em);
}

form h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.field label {
    /*color: var(--grey);*/
    border: 1px solid var(--color);
    font-size: .7em;
    width: max-content;
    padding: 3px 5px;
    border-bottom: none;
    box-shadow: 3px 3px 0 0 var(--grey);
}

.field .help {
    margin: .7em 0 0;
    font-size: .7em;
}

input {
    outline: none;
    padding: 4px;
    border: 1px solid var(--color);
    border-radius: 0;
    background: var(--background);
    color: var(--color);
    font-family: var(--font), serif;
    box-shadow: 3px 3px 0 0 var(--grey);
}

input:focus, input:active {
    border-color: var(--primary);
    box-shadow: 3px 3px 0 0 var(--primary-black);
}

.box {
    border: var(--color) 2px solid;
    padding: 2em;
    width: max-content;
    margin: auto auto 1em;
    max-width: 312px;
}

.box.large {
    max-width: 600px;
}

.box.danger {
    border-color: var(--danger);
    background: var(--danger-black);
}

.box.success {
    border-color: var(--success);
    background: var(--success-black);
}

.box.small {
    width: 100%;
    max-width: 450px;
    padding: .5em;
    margin-top: 1em;
}

.user {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto auto;
}

.user img {
    max-width: 150px;
}

.user h2 {
    margin-bottom: 0;
}

.user p {
    margin: 0;
    color: var(--grey)
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 35%;
    max-width: 500px;
    min-width: 350px;
    margin: 2em auto auto;
}

.gameResults {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
    border: 1px solid var(--border);
}

.gameResults img {
    transition: .1s ease-in-out;
    max-width: 100px;
}

.gameResults h2, .gameResults p:last-child {
    margin: 0;
}

.gameResults p {
    color: var(--grey);
    margin: .4em 0 0;
}

.gameResults p:last-child {
    font-size: .9em;
}

.gameResults.points0 {
    border: 1px solid var(--danger);
    background: var(--danger-black);
}

.gameResults.morpion.points5, .gameResults.pfc.points5 {
    border: 1px solid var(--success);
    background: var(--success-black);
}

.gameResults:hover img {
    transform: translate(0, -.5em);
}

svg path {
    fill: var(--color);
    color: var(--color);
}

svg path.secondary {
    fill: var(--background);
    color: var(--background);
}

@media (max-width: 1400px) {
    .center {
        max-width: 90%;
        text-align: center;
    }
    .grid {
        max-width: calc(128px * 2 + 3em);
        grid-template-columns: 1fr 1fr;
    }
    .menu {
        max-width: 85%;
        padding: 5px 0;
    }
    .menuContent {
        max-width: 95%;
    }
    .menuContent .start img {
        height: 2em;
    }
    .menuContent .start h2 {
        font-size: .8em;
    }
    h2 {
        font-size: 1.2em;
    }
    h1 {
        font-size: 1.3em;
    }
    .history {
        max-width: 85%;
        min-width: 85%;
    }
    .user {
        max-width: 90%;
    }
    .user svg {
        width: 100px;
        height: 100px;
    }
    .box {
        max-width: 95% !important;
    }
    table {
        width: 99%;
        max-width: 99%;
    }
    table td:nth-child(2) {
        min-width: max-content;
    }
    table td.flex:nth-child(2) svg {
        width: 20px;
        height: 20px;
    }
    table td.flex:nth-child(2) span:not(.mobile) {
        display: none;
    }
    tr.flex-mobile {
        display: flex;
        flex-wrap: wrap;
        width: 99vw;
    }
    tr.flex-mobile td:first-child,
    tr.flex-mobile td:nth-child(2) {
        flex: .5;
    }
    tr.flex-mobile td:nth-child(3) {
        flex: 1;
    }
    tr.flex-mobile td.flex.between span {
        text-align: left;
        font-size: .9em;
    }
    tr.flex-mobile td.flex.between .buttons span {
        display: none;
    }
    .box.large {
        max-width: 300px;
    }
    form.large {
        max-width: 300px;
    }
}
