table {
    table-layout: fixed;
    width: 80%;
    margin: 4px auto;
    border-spacing: 0;
    border-collapse: separate;
}

table thead tr, table, thead td {
    border-width: 0 0 2px 0 !important;
}

table tr {
    padding-top: .2em;
    padding-bottom: .2em;
}

table th,
table td {
    position: relative;
    padding: 0.5rem;
    word-wrap: break-word;
    border-style: solid;
    border-width: 0 0 1px 0;
}

table td.flex {
    display: flex;
    gap: 1em;
}

.noLine td, .noLine tr {
    border: none;
}
