:root {
    --background: #0e0e0e;
    --color: #f2f2f2;
    --primary: #fd2a60;
    --primary-black: #9b1b3b;
    --hover: #fdc916;
    --hover-black: #5c490b;
    --border: #2e2e2e;
    --grey: #737373;
    --danger: #d92121;
    --danger-black: #181111;
    --success: #40cb0c;
    --success-black: #061301;
}
