@import "styles.css";

header {
    margin-bottom: 2em;
}

#menu {
    text-align: center;
    transform: translate(0, 275px);
    z-index: 50;
    position: relative;
}

#menu .buttons {
    width: max-content;
    margin: 1em auto auto;
}

.arcade {
    margin: 2em auto;
    /*width: 918px;*/
    /*height: 1190px;*/
    /*background-image: url("../img/arcade_large.png");*/
    background-size: 918px 1190px;
}

.screen {
    padding: 1em;
    height: 500px;
    width: 800px;
    margin: auto;
    background: #000;
    overflow-x: hidden;
    position: relative;
}

.arcade p {
    display: none;
}

.arcade.disabled .screen {
    opacity: 0.2;
}

.arcade.disabled p {
    display: block;
    color: white;
    width: max-content;
    margin: auto;
}

.arcade.disabled * {
    animation-play-state: paused !important;
}

.arcade.reset * {
    animation: none !important;
}

.input input {
    border-color: var(--color);
    background: #000;
}
