@import "styles.css";

header {
    margin-bottom: 10em;
}

.board, .results, #menu {
    max-width: 780px;
    margin: auto;
    text-align: center;
}

#menu:not(.hidden) {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.board {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.board.hidden, .results.hidden {
    display: none;
}

.board p:not(.light) {
    color: var(--grey);
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1em;
}

.item {
    cursor: pointer;
}

.item img {
    transition: .1s ease-in-out;
}

.item:hover img {
    transform: translate(0, -10%);
}

.item img {

}

.results {
    display: flex;
    justify-content: space-evenly;
}

.results .element {
    height: 125px;
    overflow: hidden;
}

.results .element .roulette {
    transform: translate(0, -375px);
}

.results .element.text {
    min-width: max-content;
}

.results.animated .element:not(.text):before {
    background: linear-gradient(var(--background) 2%, transparent, var(--background) 98%);
}

.results .element:not(.text):before {
    content: "";
    display: block;
    width: 50%;
    height: 125px;
    background: transparent;
    margin: auto;
    position: relative;
    z-index: 99;
    transition: .1s ease-in-out;
}

.results.animated .element .roulette {
    animation: .3s ease-in-out roulette;
    animation-iteration-count: 6;
    transform: translate(0, -375px);
}

@keyframes roulette {
    from {
        transform: translate(0, -125px);
    }
    99% {
        transform: translate(0, -500px);
    }
    to {
        transform: translate(0, 0);
    }
}
