@import "fonts.css";
@import "theme.css";

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--color);
    font-family: var(--font), sans-serif;
}

a {
    color: var(--primary);
    cursor: pointer;
}

a:hover {
    color: var(--hover);
}

.hidden {
    display: none;
}

.center {
    margin: auto;
    width: max-content;
}

#loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: .2s ease-in-out;
    z-index: 100;
}

#loader.hidden {
    z-index: -100;
    opacity: 0;
}

#loader img {
    animation: 1s ease-in-out loading infinite;
}

@keyframes loading {
    from {
        opacity: 0;
        scale: 1;
    }
    70% {
        opacity: 1;
        scale: 1.05;
    }
}

header {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto 2em;
}

.grid {
    margin: 3em auto auto;
    display: grid;
    max-width: calc(128px * 3 + 3em);
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

.game {
    width: 128px;
    transition: .1s ease-in-out;
    cursor: pointer;
}

.game img {
    max-width: 100%;
}

.game:hover {
    transform: translate(0, -10%);
}

.borneArcade {
    background-image: url(../img/arcade.png);
    background-size: 1000px 1000px;
    margin: auto;
    width: 1000px;
    height: 1000px;
}

.playingGame {
    width: 300px;
    height: 230px;
    background: #222;
    transform: translate(340px, 190px);
}
