{% extends "base.html" %}

{% block content %}
<header>
    <h1>Créer un compte</h1>
    <p class="center">Créé ton compte et enregistre tes scores !</p>
</header>
{% if error %}
<div class="box danger mt">
    {{ message }}
</div>
{% endif %}
<form action="/createAccount" method="post" enctype="multipart/form-data">
    <h2>S'inscrire</h2>
    <p class="grey">Déjà inscrit ? <a onclick="goTo('/login')" class="grey">Se connecter</a></p>
    <div class="field">
        <label for="name">Nom complet</label>
        <input required type="text" name="name" id="name" placeholder="Jean Dupont">
    </div>
    <div class="field">
        <label for="email">Email</label>
        <input required type="email" name="email" id="email" placeholder="toi@email.com">
    </div>
    <div class="field">
        <label for="username">Nom d'utilisateur</label>
        <input pattern="^[a-z\d]+$" required type="text" name="username" id="username" placeholder="gamerdu25">
        <p class="grey help">Ne peut contenir que des lettres minuscules et des chiffres.</p>
    </div>
    <div class="field">
        <label for="password">Mot de passe</label>
        <input required type="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[^A-Za-z0-9]).{8,}$" name="password" id="password" placeholder="*******">
        <p class="grey help">Doit contenir au moins une majuscule, une minuscule, un caractère spécial et faire au moins 8 carctères.</p>
    </div>
    <div class="field">
        <button type="submit">Créer mon compte</button>
    </div>
</form>
{% endblock %}
