{% extends "base.html" %}

{% block title %}Site de mini jeux{% endblock %}

{% block content %}
<p class="center">Sélectionne une cartouche pour jouer en tant que "{{ pseudo }}".</p>
  <div class="grid">
    <div title="Morpion" class="game" onclick="goTo('/game/morpion', '/static/img/morpion.png')">
      <img src="/static/img/morpion.png">
    </div>
    <div title="Pierre Feuille Ciseaux" class="game" onclick="goTo('/game/pfc', '/static/img/pfc.png')">
        <img src="/static/img/pfc.png">
    </div>
<!--   TODO changer l'image     -->
    <div title="Jeu du dino" class="game" onclick="goTo('/game/dino', '/static/img/cartouche.png')">
        <img src="/static/img/cartouche.png">
    </div>
    <div title="Juste Prix" class="game" onclick="goTo('/game/justeprix', '/static/img/cartouche.png')">
        <img src="/static/img/cartouche.png">
    </div>
<!--   Autre cartouches pour remplir la grille     -->
    <div title="OSU!" class="game" onclick="goTo('/game/osu', '/static/img/cartouche.png')">
        <img src="/static/img/cartouche.png">
    </div>
    <div title="Arrive bientôt" class="game disabled">
        <img src="/static/img/cartouche.png">
    </div>
    <div title="Arrive bientôt" class="game disabled">
        <img src="/static/img/cartouche.png">
    </div>
</div>
{% endblock %}
