{% extends "base.html" %}

{% block title %}Site de mini jeux | Classement{% endblock %}

{% block imports %}
<link rel="stylesheet" href="/static/css/table.css">
{% endblock %}

{% block content %}
<h2 class="center mt">Classement</h2>
<p class="center grey mb">Retrouve le classement des joueurs inscrits ci-dessous.</p>
<!-- Mettre classement perso et total inscrits. Suivant / précédant -->
<table>
  <thead class="grey noLine">
    <tr>
      <td>{{ total_users }} inscrits</td>
      <td>{{ total_games }} parties jouées</td>
      <td>Page {{ page }}/{{ total_pages }}</td>
      <td>
        <div class="buttons">
          {% if page > 1 %}
            <a href="/leaderboard?page={{ page - 1 }}">&leftarrow; Précédant</a>/
          {% endif %}
          {% if page < total_pages %}
          <a href="/leaderboard?page={{ page + 1 }}">Suivant &rightarrow;</a>
          {% endif %}
        </div>
      </td>
    </tr>
  </thead>
  <thead>
    <tr>
      <td>Position</td>
      <td>Nom</td>
      <td>Pseudo</td>
      <td>Score total</td>
    </tr>
  </thead>
  <tbody>
    {% for profile in leaderboard %}
      <tr>
        <td><span class="tag">#{{ profile.rank }}</span></td>
        <td>{{ profile.name }}</td>
        <td><a href="/@{{ profile.pseudo }}">@{{ profile.pseudo }}</a></td>
        <td>{{ profile.score }}</td>
      </tr>
    {% endfor %}
    {% if personal_ranking %}
      <tr class="grey">
        <td><span class="tag secondary">Toi</span> #{{ personal_ranking.rank }}</td>
        <td>{{ personal_ranking.name }}</td>
        <td>@{{ personal_ranking.pseudo }}</td>
        <td>{{ personal_ranking.score }}</td>
      </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}
