{% extends "base.html" %}

{% block title %}Site de mini jeux | Profil de {{ user.pseudo }} {% endblock %}

{% block content %}

<div class="user">
  <img src="/static/img/profil.png" alt="Photo de profil">
  <h2>{{ user.name }} - @{{ user.pseudo }}</h2>
  <p>Inscrit depuis le {{ user.created_at.strftime("%d %B %Y") }}</p>
  <p class="center">
    Classement : #{{ rank }}/{{ total_users }}
  </p>
</div>

<h2 class="center mt">Historique des parties</h2>
{% if games|length == 0 %}
<div class="box danger mt">
  Ce joueur n'a pas encore de parties enregistrées.
</div>
{% endif %}
<div class="history">
  {% for game in games %}
  <div class="gameResults {{ game.game }} points{{ game.points }}">
    <div class="start">
      <h2>{{ game.points }} points</h2>
      <p>sur {{ game.name }}</p>
      <p>le {{ game.date.strftime("%d %B %Y à %H:%m") }}</p>
    </div>
    <img src="/static/img/{{ game.game }}.png" alt="Image de {{ game.name }}">
  </div>
  {% endfor %}
</div>
{% endblock %}
